@model IEnumerable<PeopleProTraining.Dal.Models.Building>

@{
    ViewBag.Title = "Index";
}

<h2>Buildings</h2>

<ul class="nav nav-tabs">
    <li><a href="/">Home</a></li>
    <li class="active"><a href="/buildings">Buildings</a></li>
    <li><a href="/departments">Departments</a></li>
    <li><a href="/employees">Employees</a></li>
</ul>

@{
    var building = new PeopleProTraining.Dal.Models.Building();
}

<div>
    @Html.EditorFor(m => building)
</div>
<table class="table" id="buildingTable">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            @Html.Partial("_BuildingRow", item)
        }
    </tbody>


</table>

<script type="text/javascript">
    function addBuilding() {
        var name = $("#building_Name").val();
        var address = $("#building_Address").val();
        var postdata = { Name: name, Address: address };

        $.ajax({
            url: "/Buildings/CreateAjax",
            type: 'post',
            data: postdata,
            success: function (result) {
                result = $(result)[0];
                console.log(result);
                $("#buildingTable").append(result);
            },
            failure: function (request, status, error) {
                console.log(status);
                console.log(error);
            },
            error: function (request, status, error) {
                console.log(status);
                console.log(error);
            }
        })
    }

</script>